@import 'assets/variables.scss';

html,body {
    height: 100%;
}
#root {
    height: 100%;
}
.app {
    display: flex;
    height: 100%;
}



.main {
    // flex: 1;
    width: calc(100% - 76px);
    padding: 10px;
}